<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head">
<body>
<div class="container mt-4">
    <div class=".col-md-6 .col-md-offset-3">
        <div class="card mt-4 ml-4 mr-4 border">
            <div class="card-header light">
                <div class="row">
                    <div class="light col-md-10">
                        <h5 class="card-title">Items</h5>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-outline-dark btn-sm float-right" href="#"
                           th:href="@{'/'}" role="button">upload file</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">itemID</th>
                        <th scope="col">itemName</th>
                        <th scope="col">itemSize</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="itemListDTO:${items}">
                        <td th:text="*{itemListDTO.id}">itemID</td>
                        <td th:text="*{itemListDTO.name}">itemName</td>
                        <td th:text="*{itemListDTO.size}">itemSize</td>
                        <td>
                            <a class="btn btn-outline-dark btn-sm float-right" href="#"
                               th:href="@{'/items/' + *{itemListDTO.id}}" role="button">details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>