<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head"><head>
<body>
<div class="container mt-4">
    <div class=".col-md-6 .col-md-offset-3">
        <div class="card mt-4 ml-4 mr-4 border">
            <div class="card-header light">
                <h5 class="card-title">Item Details</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">itemID</th>
                            <th scope="col">itemName</th>
                            <th scope="col">description</th>
                            <th scope="col">date</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${item.id}">itemID</td>
                            <td th:text="${item.name}">itemName</td>
                            <td th:text="${item.description}">description</td>
                            <td th:text="${item.uploadDate}">date</td>
                            <td>
                                <a class="btn btn-outline-dark btn-sm" href="#"
                                   th:href="@{'/items/' + ${item.id} + '/download'}" role="button">download</a>
                            </td>
                            <td>
                                <a class="btn btn-outline-dark btn-sm float-right" href="#"
                                   th:href="@{'/items/' + ${item.id} + '/delete'}" role="button">delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>