<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head">
<body>
<div class="container mt-4">
    <div class=".col-md-6 .col-md-offset-3">
        <div class="card mt-4 ml-4 mr-4 border">
            <div class="card-header light light">
                <h5 class="card-title" th:text="'Error 404 - ' + ${message}">Error 404</h5>
            </div>
<!--            <div class="card-body">-->
<!--                <div class="row g-3">-->
<!--                        <div class="row">-->
<!--                            <div class="col bg-light text-dark .col-6 .col-md-4">-->
<!--                                <input id="success" name="success" type="text" th:hidden="success" th:value="${success}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>